<config>    
    <modules>
        <Ibuildings_Gearman>
            <version>1.0.0</version>
        </Ibuildings_Gearman>
    </modules>
    <adminhtml>
       <acl>
           <resources>
               <admin>
                   <children>
                       <system>
                           <children>
                               <config>
                                   <children>
                                       <gearman_options>
                                           <title>Ibuildings Gearman Module</title>
                                       </gearman_options>
                                   </children>
                               </config>
                           </children>
                       </system>
                   </children>
               </admin>
           </resources>
       </acl>
    </adminhtml>
	<global>
	    <models>
	       <gearman>
               <class>Ibuildings_Gearman_Model</class>
	       </gearman>
	    </models>
	    <events>
 	       <gearman_do_async_task>
 	           <observers>
 	               <gearman>
 	                   <class>Ibuildings_Gearman_Model_Observer</class>
 	                   <method>dispatchTask</method>
 	               </gearman>
 	           </observers>
 	       </gearman_do_async_task>
	    </events>
	    <helpers>
	       <gearman>
	           <class>Ibuildings_Gearman_Helper</class>
	       </gearman>
	    </helpers>
	</global>
</config>