<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap.php"
    stopOnFailure="false"
    backupGlobals="true"
    backupStaticAttributes="true"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    syntaxCheck="false"
    verbose="true">
    <testsuite name="Gearman Tests">
        <directory suffix="Test.php">.</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">/mnt/hgfs/Sites/magento.development.local/public/app/code/local/Ibuildings/Gearman/Model</directory>
        </whitelist>
        <blacklist>
            <directory>/usr</directory>
        </blacklist>
    </filter>
</phpunit>